body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
.sidebar{
    grid-area: sidebar;
    padding: 10px 20px;
    background-color: cornflowerblue;
}
.sidebar *{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.navigation ul li a,.navigation ul li span,.tools ul li a,.tools ul li span{
    /* background-color: red; */
    font-size: 20px;
    padding: 10px;
}
.logo a,.logo a span{
    font-size: 30px;
    padding: 10px;
}
ul{
    padding: 0;
}
ul>li{
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
}

.header{
    grid-area: header;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    margin: 10px;
}
.header1{
    display: grid;
    grid-auto-flow: column;
    /* background-color: red; */
    align-items: center;
    .search{
        /* background-color: green; */
        display: flex;
        gap: 10px;
        align-items: center;
        
    }
    .profile{
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        /* background-color: brown; */
        justify-self: center;
        align-items: center;
        gap: 10px;
    }
}
.search input{
    padding: 10px ;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: rgb(212, 218, 223)
}
.big-icon {
  font-size: 40px;
}

.profile img{
  width: 50px; 
  height: 50px;          
  border-radius: 50%;     
  object-fit: cover; 
}
.header2{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.header2-left{
    display: flex;
    gap: 30px;
    line-height: 0%;
    align-items: center;
}
.header2-left img{
  width: 100px; 
  height: 100px;          
  border-radius: 50%;     
  object-fit: cover; 
}
.header2-right{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.header2-right button{
    padding:10px 15px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 20px ;
    font-size: medium;
    font-weight: bold;
    border: 0px;
    margin-right: 20px;
}

.main-content{
    grid-area: main-content;
    background-color: rgb(212, 218, 223);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.cardcontent-wrap{
    margin: 10px;

}
.cardcontent{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr) ;
    /* margin: 10px; */
}
.cardcontent .card{
    background-color: orange;
    margin: 10px ;
    padding: 20px;
    background-color: white;
    h3{
        text-transform: capitalize;
    }
    border-radius: 12px;
    box-sizing: border-box;
    border-left: 20px solid orange;
}
.cardcontent .card .icons{
    justify-self: flex-end;
    padding: 10px;
    span{
        padding: 5px;
    }
}
.others{
    /* background-color: yellow; */
    display: grid;
    gap: 20px;
    margin: 10px;
}
.announce-wrap{
    margin: 10px ;
}
.others .card{
    background-color: white;
    /* margin: 10px 15px; */
    box-sizing: border-box;
    border-radius: 20px;
    display: grid;
    div{
        /* background-color: red; */
        padding: 8px;
        margin: 8px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        h3{
            text-transform: capitalize;
        }
    }
    div:last-child{
        border-bottom: none;
    }
}
.trendwrap{
    margin: 10px;
}
.trend-box{
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
    background-color: white;
    border-radius: 20px;
    /* margin: 18px; */
}
.trend .text{
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    line-height: 0%;
    align-items: center;
    /* background-color: blue; */
    padding: 10px;

}
.text img {
  width: 50px; 
  height: 50px;          
  border-radius: 50%;     
  object-fit: cover; 
  /* display: inline-block;      */
}