body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
.sidebar{
    grid-area: sidebar;
    padding: 10px 20px;
    background-color: cornflowerblue;
}
.sidebar *{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.logo{
    font-size: larger;
}
ul{
    padding: 0;
}
ul>li{
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
}

.header{
    grid-area: header;
    background-color: aquamarine;
    /* display: grid;
    grid-template-rows: repeat(2,1fr); */
}
.main-content{
    grid-area: main-content;
    background-color: rgb(212, 218, 223);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.cardcontent{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr) ;
    margin: 10px;
}
.cardcontent .card{
    background-color: orange;
    margin: 10px ;
    padding: 20px;
    background-color: white;
    h3{
        text-transform: capitalize;
    }
    border-radius: 12px;
    box-sizing: border-box;
    border-left: 20px solid orange;
}
.cardcontent .card .icons{
    justify-self: flex-end;
    padding: 10px;
    span{
        padding: 5px;
    }
}
.others{
    background-color: yellow;
    display: grid;
    gap: 20px;
    margin: 10px;
    /* grid-template-rows: repeat(autofill,minmax(50%,1fr)); */
}
.others .card{
    background-color: blue;
    margin: 10px 15px;
    display: grid;
    div{
        background-color: red;
    }
}